In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
BuyersRatio=pd.read_csv("C:\\ExcelR\\Assignments\\Assignment 3\\BuyerRatio.csv")

In [3]:
BuyersRatio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

here,

We want to test whether is there any relationship between the region and gender of customer for sales of product

therefore

Ho: sales is Independent of gender and region

H1: sales is dependant of gender and region

In [4]:
BR_df=BuyersRatio.iloc[:,1:5]

In [5]:
BR_df

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [6]:
chi2_result=stats.chi2_contingency(BR_df)

In [7]:
chi2_result

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

here,p-value is greater than l.o.s.

therefore, we accept Ho. Which means there is no relationship between the gender and region of sales of product