In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
OrderForm=pd.read_csv("C:\\ExcelR\\Assignments\\Assignment 3\\Costomer+OrderForm.csv")

In [3]:
OrderForm

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

This is qualitative data. for testing we need Contingency table.

Ho: defective % is same for all centers(quality and center are independent)

H1: defective % is different  for all centers(quality and center are dependent)

In [5]:
OF_con=pd.read_csv("C:\\ExcelR\\Assignments\\Assignment 3\\OrderFormContengency1.csv")

In [6]:
OF_con

   Unnamed: 0  Philllipnes  Indonesia  Malta  India
0  Error Free          271        267    269    280
1   Defective           29         33     31     20

In [7]:
OF_con.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2 non-null      object
 1   Philllipnes  2 non-null      int64
 2   Indonesia    2 non-null      int64
 3   Malta        2 non-null      int64
 4   India        2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

In [8]:
OF_con_df=OF_con.iloc[:,1:5]

In [13]:
chi2_results=st.chi2_contingency(OF_con_df)

In [15]:
print('test statistic',chi2_results[0])
print('p value',chi2_results[1])
print('Degrees of freedom',chi2_results[2])

test statistic 3.858960685820355
p value 0.2771020991233135
Degrees of freedom 3

Here pvalue is greater aplpha=0.05

Therefore here we accept Ho.which means there is no difference in defective % of different center